@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Yetenek Düzenleme Paneli</p>
            <form class="forms-sample" >
                <div class="form-group">
                    <div class="form-group">
                        <label>ID</label>
                        @Html.TextBoxFor(model => model.SkillID, new { @class = "form-control",@placeholder = "Yetenek ID" })
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Yetenek Başlığı" })
                    </div>
                    <div class="form-group">
                        <label>Değer:</label>
                        @Html.TextBoxFor(model => model.Value, new { @class = "form-control", @placeholder = "Yetenek Değeri" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>
}