@using EntityLayer.Concrete
@model List<UserMessage>
@functions {
    string GetTimeAgo(DateTime date)
    {
        var span = DateTime.Now - date;

        if (span.TotalMinutes < 1)
            return "az önce";
        if (span.TotalMinutes < 60)
            return $"{(int)span.TotalMinutes} dakika önce";
        if (span.TotalHours < 24)
            return $"{(int)span.TotalHours} saat önce";
        if (span.TotalDays < 7)
            return $"{(int)span.TotalDays} gün önce";
        if (span.TotalDays < 30)
            return $"{(int)(span.TotalDays / 7)} hafta önce";
        if (span.TotalDays < 365)
            return $"{(int)(span.TotalDays / 30)} ay önce";

        return $"{(int)(span.TotalDays / 365)} yıl önce";
    }
}


<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Messages</h4>
                <p class="text-muted mb-1 small">Tümünü Görüntüle</p>
            </div>
            @foreach (var item in Model)
            {
                <div class="preview-list">
                    <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                        <img src="@item.User.ImageUrl" alt="image" class="rounded-circle" />
                    </div>
                    <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <h6 class="preview-subject">@item.User.Name</h6>
                                <p class="text-muted text-small">@GetTimeAgo(@item.Date)</p>
                            </div>
                            <p class="text-muted">@item.Content.Substring(0,30)...</p>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>